/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #444;
    display: none; /* Hide the body initially */
}

h1, h2, h3 {
    margin: 10px 0;
}

p {
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #007bb5;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}


nav a:hover {
    color: #ffcc00;
}

#search-bar {
    margin-left: 20px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    display: none;
}

.active {
    display: block;
}

/* Product List Styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.05);
}

/* Buttons */
button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

/* Cart Styles */
.cart {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}

#checkout-button {
    background-color: #007bb5;
    margin-top: 20px;
}

#checkout-button:hover {
    background-color: #005f87;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bb5;
    color: #fff;
    position: relative;
    width: 100%;
    margin-top: 40px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 8px 0;
    }

    .product-item {
        width: 90%;
    }

    #search-bar {
        margin: 10px 0;
    }
}
